*{box-sizing: border-box}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="rows-"] {
  float:top; 
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 27%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 786px) {
  /* For desktop: */
  .col-1 {width: 3.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}

body
{
background-image:url("bgm2.jpg");
background-repeat: no-repeat;
background-size: 1400px; 
background-color: #cccccc;
}

.topspacing{
  margin-top: 65pt;
}

.login_title
{
  color:white; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  width: 100%;
}

.container{
    padding:10px 30px 30px 30px;
    background-color:#333;
    border-radius: 5px; 
    
}

hr
{
    margin-bottom: 15px;
}

.label{

    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text], input[type=password]
{
    width:100%;
    border-radius: 5px;
    border: 0cm;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
    background:white;
    
}

input[type=text]:focus, input[type=password]:focus {
    background-color:white;
    outline: none;
  }

  .loginbtn 
  {
    background-color: rgb(23, 187, 91);
    color: white;
    border-radius: 5px;
    border: 0cm;
    margin: 10px 0px 10px 0px;
    padding: 10pt 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    font-size: 10pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .loginbtn:hover 
  {
    opacity:1;
    background-color: rgb(248, 247, 246);
    color: black;
    border:50;

  }

  .registerbtn 
  {
    background-color: rgba(187, 23, 23, 0.849);
    margin: 10px 0px 0px 0px;
    color: white;
    border-radius: 5px;
    border: 0cm;
    padding: 10pt 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    font-size: 10pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .registerbtn:hover 
  {
    opacity:1;
    background-color: rgb(248, 247, 246);
    color: black;
    border:50;

  }

  .info
  {
    color: white;
    font-size: 8pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }